.container {
	position: absolute;
    display: flex;
    flex-direction: column;
	width: 100%;
	overflow: visible;
	top: 50%;
	transform: translate(0, -62%);
}

@media (max-width: 500px) {
	.container {
		transform: translate(0, -50%);
	}
}

.timer_wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: flex-end;
}

.plane_wrapper {
	display: flex;
	flex-direction: column;
	flex: 4;
}

.miniplane_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 5px;
}

.answers {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 13px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}
