.container {
	position: relative;
    display: flex;
    flex-direction: column;
	width: 100%;
	height: calc(100vh - 50px);
	overflow: visible;
	justify-content: center;
	row-gap: 5em;
}

.time_wrapper {
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
	justify-content: flex-end;
}

.results_wrapper {
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
	justify-content: center;
}

.completion_time {
    font-size: 34px;
	color: #fff;
}

.miniplane_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 5px;
}

.footer {
    display: flex;
	align-items: center;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.countdown {
    text-align: center;
	margin: auto;
	font-size: 34px;
	width: 50%;
	border-right: 1px solid #fff;
}

.share {
    display: flex;
	width: 50%;
}

@media (max-width: 500px) {
	.footer {
		flex-direction: column;
		row-gap: 2em;
	}
	
	.countdown {
		border-right: 0;
	}

	.container {
		row-gap: 3em;
	}
}