.share_overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background: rgba(18,18,19, 1);
}

.results_image {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-113%);
	width: 300px;
}
